<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="nav.css" type="text/css" rel="stylesheet">
    
    <title>NavBar</title>
</head>

<body>

           
    <header>
      
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/register">Registration</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/details">Details</a></li>
    </ul>
  </nav>
 
</header>
 
  </div>

</body>
</html>